h1{
    color: orange;
}
h3{
    color: orange;
}
h2{
    color: orange;
}
p{
color: white;    

}
section article{
    background-color: grey;
    font-family: sans-serif;   
    align-items: center;
    align-items: center;    
}
section article ul{
    padding: 40px;    
}


.carousel-inner img{
    width: 330px;
    height: 330px;
    margin-bottom: 50px;
}   
.carousel-inner iframe{
    width: 330px;
    height: 330px;
}


body{
    background-image: url(../img/Portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

section div p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* pagina tienda*/

.card{
    border: 2px solid orange;
    margin: 10px; 

}
.card-text{
    color: black;
    width: 900px;
}


.grilla{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer"
    ;    
}
body header{
    grid-area: header;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
aside nav ul{
    color: white;
    list-style-type: none;
    display: contents;
}

nav{
    background-color:transparent;
}

footer{
    grid-area: footer;
    color: rgb(146, 95, 1);
    border: 1px solid orange;    

}
footer ul{
    display: flex;
    color: white;    
}
footer ul li{
    margin-left: 30px;
    list-style-type: none;
}


@media(max-width:480px){
    body{
        background-color: black;
        }
}
@media (min-width:481px){

}